{% extends "base.html" %}
{% load static %}
{% block style  %}
{% endblock style %}

{% block title %} Log in {% endblock title %}

{% block main %}
{% load static %}
<form class="container mt-4">
        <div class="mb-3">
          <label for="login" class="form-label">Login name</label>
          <input type="text" class="form-control" id="login" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your login with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock main %}

