{% extends "base.html" %}

{% block title %} Statistics {% endblock title %}
{% block main %}

<div class="container">
    <h1>Statistics:</h1>
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">State Registration</th>
        <th scope="col">Client</th>
        <th scope="col">VIN</th>
      </tr>
    </thead>
    <tbody>
        {% for car in all_cars %}
      <tr>
        <td>{{ car.id }}</td>
        <td>{{ car.state_registration|upper }}</td>
        <td>{{ car.client|title  }}</td>
        <td>@{{ car.vin_code|upper  }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock main %}